@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: hsl(0, 0%, 100%);
  --color-text: #4C462F;
  --font-kaisei-tokumin: 'Kaisei Tokumin', serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-kaisei-tokumin);
}

.transition-effect {
    transition: all 0.3s ease-in-out;
    /* other transition-related styles */
}
